{% if loading %}
    <div class="xsmall">
        {{ "LOADING" | translate | safe }}
    </div>
{% else %}
    <div class="container">
        <div class="row">
            <div class="column xsmall align-left">
                {{ "CPU TEMP" | translate | safe }}
            </div>
            <div class="column-text xsmall align-left">
                {{ data.cpu_temp | round | convertTemperature }}
            </div>
        </div>
        <div class="row">
            <div class="column xsmall align-left">
                {{ "FREE MEMORY" | translate | safe }}
            </div>
            <div class="column-text xsmall align-left">
                {{ data.available_memory | round }}%
            </div>
        </div>
        <div class="row">
            <div class="column xsmall align-left">
                {{ "UPTIME" | translate | safe }}
            </div>
            <div class="column-text xsmall align-left">
                {{ data.uptime | uptime }}
            </div>
        </div>
        <div class="row">
            <div class="column xsmall align-left">
                {{ "FREE DISK SPACE" | translate | safe }}
            </div>
            <div class="column-text xsmall align-left">
                {{ data.available_space }}
            </div>
        </div>
    </div>
{% endif %}